@font-face {
    font-family: "DM Sans";
    src: url(./fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}


@media (min-width: 1240px) {

    .wrapper {
        max-width: 1240px;
    }

    .header_nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_wrapp_nav-list-mob {
        display: none;
    }

    .main_container {
        width: 50%;
    }
    .main_desc {         
        margin: 20px 170px 130px 0;
    }

    .about_desc-wide {
        width: 330px;
    }
    .about_desc-narrow {
        width: 276px;
    }

    .sign_up_img-wrapp-animated, .sign_up_img-wrapp-static{
        display: flex;
        justify-content: center;
        align-items: center
    }
    .sign-up_desc {
    width: 480px;
    margin: 19px 0 40px 0;
    }

    .courses_list li {
        width: 330px;
    }
    .courses_container {
        min-width: 1240px
    }
    .courses_desc {
    width: 565px;
    }
}

@media (max-width: 1240px)    {
    .wrapper {
    max-width: 970px;
    }

    .header_nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_wrapp_nav-list-mob {
        display: none;
    }

    .main_container {
        min-width: 50%;
    }
    .main_desc {
        margin: 20px 50px 30px 0;
    }

    .about_container-desc {
        justify-content: center;
    }
    .about_desc-wide {
        width: 400px;
    }

    .sign_up_img-wrapp-static,
    .sign_up_img-wrapp-animated {
        display: none
    }
    .about_desc-narrow {
        width: 400px; 
    }
    .about_heading {
        text-align: center;
    }

    .courses_list li {
        width: 330px;
    }
    .courses_desc {
        width: 405px;
    }
    .sign-up_desc {
        width: 90%
    }
    .sign-up_container {
        justify-content: center;
    }
    .sign-up {
        text-align: center;
    }
    .sign-up_desc {
    width: 480px;
    margin: 0 auto;
    padding: 20px 0 30px;
    }

} 



@media (max-width: 992px) {

    .wrapper {
        max-width: 750px;
    }

    .header_nav-menu {
        padding: 0 10px;
        justify-content: space-around;
    }
    
    .header_nav-list {
        display: none;
    }
    
    .header_wrapp_nav-list-mob {
        display: block;
    }
    
    .header_wrapp_nav-list-mob:hover .header_nav-list-mob {
        display: block;
        position: absolute;
        top: 100%;
        right: 0
    }
    .header_logo-link {
        padding: 0 0 0 10px;
    }

    .main_container {
        min-width: 50%;
    }
    .main_heading {
        font-size: 40px;
    }
    .main_desc {
        margin: 20px 50px 30px 0;
    }

    .about_container {
        justify-content: center;
    }
    
    .about_wrapper {
        text-align: center;
    }

    .courses_list li {
        width: 342px;
        margin: 0 0 20px 0;
    }
    .courses_desc {
        width: 381px;
    }

    .sign_up_img-wrapp-animated, .sign_up_img-wrapp-static {
        display: none
    }
    .sign-up {
        text-align: center;
    }
    .sign_up_img-wrapp-animated,
    .sign_up_img-wrapp-static {
        display: none
    }
    .sign-up_desc {
        width: 480px;
    }

}

@media (max-width: 767px) {
    .wrapper {
        max-width: none;
    }

    .header_nav-menu {
        justify-content: center;
    }
    .header_logo-link {
        padding: 0 0 0 10px;
    }
    .main_heading {
        font-size: 40px;
    }

    .about_container {
        justify-content: center;
    }
    .about_wrapper {
        text-align: center;
    }

    .courses_list li {
        width: 280px;
        margin: 0 0 20px 0;
    }

    .sign_up_img-wrapp-animated,
    .sign_up_img-wrapp-static {
        display: none;
    }
    .sign-up {
        text-align: center;
    }
    .sign-up_desc {
        width: 90%;
    }

    .mentors_heading {
        text-align: center;
    }
}


.header_nav-list-mob li {
    margin: 0;
}

.header_nav-list-mob {
    display: none;
}


.header_nav-list-mob a {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
}


.about_flex-container-img {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    column-gap:50px;
    row-gap: 20px;
}

.header_wrapp_nav-list-mob:hover {
    display: block;
    background: transparent;
    position: relative;
    background-image: url(./icon_close.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
    transition: background .3s linear;
}
.header_wrapp_nav-list-mob li a{
    padding: 10px;
    display: inline-block;
    color: black;
    width: 150px;
}
.header_wrapp_nav-list-mob li  {
    margin: 0 0 5px 0;
    color:black;
    background:white;
    border-radius:5px;
    transition: all .3s linear;

}
.header_wrapp_nav-list-mob li:hover {
    background:#1d1d1d;
    border:1px solid #bea69e
}

.header_wrapp_nav-list-mob li {
    border: 1px solid transparent
}
.header_wrapp_nav-list-mob li:hover a{
    color: #bea69e
} 

.header_wrapp_nav-list-mob {
    width: 150px;
    height: 30px;
    background-image: url(./img//burger_menu.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin: 0 10px 0 0 ;
}
body {
    overflow-x:scroll
}

input:focus {
    outline: none;
    border:none
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none
}
button:hover {
    border:none
}


body {
    background: #121212;
    color:white;
    background-image: url(./img/bg.png);
    font-family: "DM Sans";
}
.wrapper {
   
    margin: 0 auto;
}

header {
    margin:20px 0 40px 0;
}

.header_wrapper {
    display: flex;
    justify-content: center;
    column-gap:20px
}

.header_nav-menu {
    display: flex;
    align-items: center;
padding: 0 20px;
    border: 1px solid rgba(255, 255, 252, 0.2);
    border-radius: 12px;
    background:#121212;
    width: 100%;
    justify-content: space-between;

}
.header_nav-list {
    column-gap: 55px;
    text-align: center;
    margin: 0 0 0 150px;
}

.header_nav-list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    padding:15px 0 10px 0;
    transition: color .3s linear;
}
.header_nav-list a:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #bea69e;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s linear;
}

.header_nav-list a:hover {
    color:#bea69e;
}

.header_nav-list a:hover:after {
    width: 100%;
}

.header_btn{
    width: 260px;
    padding: 18px 50px;
    
    text-transform: uppercase;
    border-radius: 15px;
    background: white;
    transition: background .3s linear;
}

.header_btn a { 
    font-size: 18px;
    font-weight: 700;
    color:black;
    text-decoration: none;
    transition: color .3s linear;
}
.header_btn:hover a {
    color: #bea69e;
}

.header_btn:hover {
    background: #1d1d1d;
    
    cursor: pointer;

}

.main_wrapper {
    background:#1d1d1d;
    display: flex;  
    padding: 80px 50px 0 50px;
    column-gap:120px;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-radius:30px
}
.main_container {
    display: flex;
    flex-wrap: wrap;
}
.main_heading {
    font-size: 64px;
    line-height: 1.1;
    font-weight: 500;
}
.main_heading_accent {
    font-style: italic;
    color: #bea69e
}
.main_desc {
    font-size: 14px;
    
}
.main_img {
    margin: 0 auto;
}

.main_our-students {
    display: flex;
    padding: 0 0 50px 0;
}
.main_our-students img{
    width: 44px;
    height: 44px;
}

.main_our-students_img {
    margin: 0 -10px 0 0;
    z-index: 10;
}
.main_our-students_img_hide {
    z-index: 5;
}

.main_our-students_link {
    text-decoration: none;
    color:white;
    width: 80px;
    margin: 0 50px 0 20px;
    position: relative;
}

.main_our-students_link:after {
    content:"";
    position: absolute;
    bottom:10%;
    left:0;
    width: 25px;
    height: 15px;
    background-image: url(./img/main/arrow.png);
    background-size: cover;
    background-position: center;
}
.main_our-students_link:hover {
    transform: scale(1.05);
    text-shadow: 1px 1px 1px white;
}

.reviews_numbers {
    padding: 0 0 0 70px;
    position: relative;
}

.reviews_numbers:before {
    content:"";
    width: 50px;
    height: 50px;
    border-radius:50%;
    position:absolute;
    top:0;
    left:0;
    background:#bea69e;
    background-image:url(./img/main/icon_star.png);
    background-position:center;
    background-size:40%;
    background-repeat: no-repeat;
}

.reviews_numbers_heading {
    color: #ffffff80;
    font-size: 14px;
    line-height: 1.28;
    margin: 0 0 10px 0;
}

.reviews_numbers_desc {
    font-weight: 500;
    padding-bottom:10px;
}


.banner {
    width: 100%;
    margin: 0 auto;
    border:1px solid red;
}


.banner {
    border: 1px solid rgba(255, 255, 255, .2);
    margin: 150px 0;
    position: relative;
}

.banner p {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    animation: text 4s infinite linear;
    white-space: nowrap;
    font-size: 28px;
    padding: 10px 0 10px 100%;
    
}

.banner_brown {
    color: #bea69e;
}


@keyframes text {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-160%, 0);
    }

}


.about_wrapper {
    padding: 75px 0 0 0;
}
.about_heading {
    font-size: 48px;
    margin: 0 0 50px 0;
    font-weight: 500;
}
.about_heading-accent {
    color:#bea69e
}
.about_container-desc {
    display: flex;
    column-gap: 40px;
    row-gap:20px;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

.about_desc-wide, .about_desc-narrow {
    font-size: 16px;
    line-height: 1.25;
}

.courses_wrapper {
    padding: 75px 0;
}

.courses_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.25;

}

.courses_heading {
    font-size: 48px;
    font-weight: 500;
}

.courses_heading-accent {
    color: #bea69e
}

.courses_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap:20px;
    row-gap: 20px;
    margin: 50px 0 0 0;
}

.courses_list li {
    background:linear-gradient(180deg, #060707 0%, #1d1d1d 100%);;
    height: 400px;
    padding: 32px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius:12px;
    box-shadow:none;
    transition: all .5s linear;
}
.courses_list li:hover {
    transform: scale(1.05);
    box-shadow: -1px 2px 25px 0px rgba(255, 255, 255, 0.396);
    -webkit-box-shadow: -1px 2px 25px 0px rgba(255, 255, 255, 0.396);
    -moz-box-shadow: -1px 2px 25px 0px rgba(255, 255, 255, 0.396);
    cursor:pointer
}

.courses_list_heading {
    font-size: 28px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    width: 70%;
    line-height: 1.14;
}

.courses_list_item-upper-accent {
    color: #fff6;
    font-size: 14px;
}

.courses_list_link {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius:50%;
    background:#1d1d1d;
    background-image:url(./img/courses/icon_arrow.svg);
    background-position:center;
    background-size:80%;
    position: relative;
    transition: background .3s linear;
}
.courses_list_link:after {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background:#1d1d1d;
    opacity: .5;
    position: absolute;
    content:"";
    border-radius:50%
}
.courses_list_link:hover {
    background: #bea69e;
    background-image: url(./img/courses/icon_arrow.svg);
    background-position: center;
    background-size: 80%;
}
.courses_list_link:hover:after {
    background:none
}
.courses_list_item-upper {
    display: flex;
    justify-content:space-between;
    margin: 0 0 32px 0;
}

.courses_list_desc {
    color:#ffffff80;
    font-size: 16px;
    margin-top: 55%;
}

.mentors_wrapper {
    padding: 75px 0 0 0;
}

.mentors_heading {
    font-size: 48px;
    font-weight: 500;
}

.mentors_heading-accent {
    color:#bea69e
}

.mentors_list {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 0 0;
    justify-content: center;
    column-gap:100px;
    text-align: center;
}

.mentors_list li {
    position: relative;
    transition: transform .6s linear;
}
.mentors_list_front-side {
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    transition: transform .6s linear;
}
.mentors_list_back-side {
    transform: perspective(600px) rotateY(180deg);
    transition: transform .6s linear;
    position: absolute;
    top:0;
    left:0;
    padding: 0 20px 0 20px;
    border-radius:30px;
    height: 100%;
    line-height: 1.2;
    backface-visibility: hidden;
    background:#121212;
    display: flex;
    align-items:center
}
.mentors_list li:hover {
    transform: scale(1.2);
    box-shadow:-12px 0 20px -12px #bea69e59, 12px 0 20px -12px #bea69e59;
    border: 1px solid rgba(255, 255, 255, .2);
    cursor: pointer;
}
.mentors_list li:hover > .mentors_list_front-side {
    transform: perspective(600px) rotateY(180deg);
}
.mentors_list li:hover>.mentors_list_back-side {
    transform: perspective(600px) rotateY(0deg);
}


.mentors_list_name {
    font-size: 28px;
    margin: 5px 0;
}

.mentors_list_expirience {
    font-size: 14px;
    color: #ffffff80
}

.sign-up {
    padding: 75px 0 0 0;
}

.sign-up_heading {
font-size: 48px;
line-height: 1.13;
font-weight: 500;
}
.sign-up_heading-accent {
    color:#bea69e
}

.sign-up_container {
    display: flex;
    column-gap:50px;
    align-items:flex-end
}

.sign-up_form {
    width: 480px;
}

.sign-up_form_input-name, .sign-up_form_input-email, .sign-up_form_message {
width: 100%;
padding: 20px 18px;
background:transparent;
margin: 0 0 10px 0;
border: 1px solid rgba(255, 255, 255, .2);
border-radius:12px;
color:white;
box-sizing:border-box
}
.sign-up_form_message {
    margin: 0 0 20px 0;
    height: 140px;
}

.sign-up_form_input-name::placeholder,
.sign-up_form_input-email::placeholder,
.sign-up_form_message::placeholder {
    color:rgba(255, 255, 255, 0.738)
}

.sign-up_form_input-name:focus,
.sign-up_form_input-email:focus,
.sign-up_form_message:focus {
    color: white;
    border:1px solid rgba(255, 255, 255, .5);
}

.sign-up_form_btn {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px;
    border-radius:12px;
    background:white;
    transition: background .3s linear;
    margin: 0 0 20px 0;
}

.sign-up_form_btn:hover {
    background:#1d1d1d;
    color:#bea69e;

}

.sign-up_form_privacy-text {
    font-size: 14px ;
    color:#ffffff80;
    line-height: 1.29;
}

.sign-up_form_privacy-text a {
color: #ffffff80
}

.sign_up_img-wrapp-animated {
    width: 190px;
    height: 288px;
    background:#bea69e;
    border-radius:100px;
    align-items:center;
    justify-content: center;
    margin: 0 0 40px 150px;
}
.sign_up_img-wrapp-animated img {

    transition: transform 2s linear;
    display: inline-block;
}
.sign_up_img-wrapp-animated:hover img {
transform: rotate(90deg);  
}

.sign-up_container {
    position: relative;
}
.sign_up_img-wrapp-static {
    position: absolute;  
    bottom:40px;
    right:0;
    background:#1d1d1d;
    border-radius: 200px;
    width: 350px;
    height: 520px;
}
.sign_up_img-wrapp-static:hover img{
    animation:rocking 1s linear;
}

@keyframes rocking {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.sign_up_img-wrapp-static img {
    margin: 50px 0 0 0;
}

.reviews {
    margin: 100px 0 140px 0;
}

.reviews_heading {
    font-size: 48px;
    margin: 0 0 50px 0;
}
.reviews_list {
    display: flex;
    column-gap:20px ;
}

.reviews_list li {
    border:1px solid rgba(255, 255, 255, .2);
    border-radius:12px;
    padding: 30px;
}

.reviews_list_info_name {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.reviews_list_info_position {
    font-size: 14px;
    color:#ffffff80;
}

.reviews_list_info {
    padding: 0 0 0 65px;
    position: relative;  
    margin: 0 0 22px 0;
}

.reviews_list_info:before {
    content:"";
    width: 55px;
    height: 55px;
    position: absolute;
    bottom:0;
    left: 0;
    background-size:cover
}
.reviews_list li:first-child .reviews_list_info:before {
    background-image:url(./img/reviews/avatar_baker.webp);
}

.reviews_list li:nth-child(2) .reviews_list_info:before {
    background-image: url(./img/reviews/avatar_lowery.webp);
}

.reviews_list_info:after {
    content: "";
    width: 95px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background-image:url(./img/reviews/test.png);
    background-size:20%;
}
.reviews_list_review-text {
    
    line-height: 1.25;
}

.footer_contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.footer_adress_link {
    display: inline-block;
    width: 100%;
    color:white;
    font-size: 14px;
    transition:  1s linear;
    text-decoration: none;
    margin: 21px 0 10px 0;
}

.footer_adress_link:hover {
    color: #bea69e;
}

.footer_adress_link-desc {
    font-size:14px; ;
}

.footer_media-list a, .footer_nav-list a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s linear;
    font-size: 14px;

}

.footer_media-list a:hover,
.footer_nav-list a:hover, .footer_adress_link:hover {
animation: linkHoverOn .35s cubic-bezier(.55, .085, .68, .53) ;
}

@keyframes linkHoverOn {
    0% {
    filter: blur(2px);
    opacity: 0;
    }

    100% {
    filter: blur(0px);
    opacity: 1;
    color:#bea69e;
    }
    
}
.footer_media-list a:hover,
.footer_nav-list a:hover {
    color: #bea69e;
}

.footer_media-list li, .footer_nav-list li {
    margin: 0 0 20px 0;
}
.footer_subscribe-form {
    margin: 0 0 20px 0;
}
.footer_subscribe-form_input {
    background:white;
    border-radius:12px;
    padding: 15px 12px 15px 18px;
    width: 60%;
    transition: 1s linear;
    border: none;
    border: 1px solid transparent;
}


.footer_subscribe-form_input:focus, .footer_subscribe-form_input:hover {
color: white; 
background: black;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, .2);
}

.footer_subscribe-form_btn {
    margin: 0 0 0 10px;
    background:#2a2a2afd;
    color:white;
    padding: 12px 15px;
    border-radius: 12px;
    font-size: 20px;
    transition: .1s linear;
    position: relative;
}
.footer_subscribe-form_btn:before {
    content:"";
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background:rgb(230 221 221 / 10%);
    transition: .2s linear;
    border-radius: 12px;
    cursor: pointer;
}

.footer_subscribe-form_btn:hover::before {
   width: 100%;
   
}
.footer_subscribe-form_btn:hover {
    color: #bea69e;
}


.footer_privacy-info {
    display: flex;
 
    justify-content: space-between;
    column-gap:40%;
    font-size: 14px;
   
}

.footer_privacy-info a {
    display: block;
    color:white;
    text-decoration: none;
}

.test {
  background:white;
  padding: 10px;
}

.scroll_to_top {
    width: 3em;
    height: 3em;
    display: inline-block;
    position: fixed;
    bottom:5vw;
    right:5vw;
    border-radius:50%;
    box-shadow: 0 .25rem .5rem 0 #bea69e;
    background:#1d1d1d;
    transition: background .3s linear;
    background-image:url(./img/icon_arrow.png);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:center;
    
}
html {
scroll-behavior: smooth;
}

.scroll_to_top:hover {
    background:rgba(190, 166, 158, .4);
    opacity: .3;
        background-image: url(./img/icon_arrow.png);
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center

}
